<div>
    <h2>User Details</h2>
    <div *ngFor="let user of users">
     
      {{ user.name }} - {{ user.email }}<br>
     <!-- <button (click)="onSelectUser(user.id)" class="btn btn-primary">View Details</button>-->
      <button (click)="onDeleteUser(user.id)" class="btn btn-primary margin-left">Delete</button>
      <button (click)="onUpdateUser(user.id, { name: 'Updated Name' })" class="btn btn-primary margin-left">Update</button>
      <button type="button" (click)="patchUserData(user.id)" class="btn btn-primary margin-left">Patch User</button>

    </div>
  
   <!-- <div *ngIf="selectedUserId !== null">
      <app-user-detail [userId]="selectedUserId"></app-user-detail>
    </div>-->
  </div>
  
  
